<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Mark6 Clothing" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
</head>

<body>
    <div id="root"></div>
</body>
</html>