.account-container {
    margin: 10px 2%;
}

.account-detail-container-wrapper {
    min-height: 423px;
}

/* Start: AccountPanel **********/
.account-panel-container {
    position: fixed;
    width: 27%;
    z-index: 1;
}

    /* Start: AccountInformationPanel ***/
    .account-information-container {
        margin-bottom: 10px;
    }

    .account-information-profile-img {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

    .account-information-profile {
        display: inline-block;
        padding: 5px 0 0 16px;
        vertical-align: middle;
    }

    .account-information-profile-greet {
        font-size: 12px;
    }

    .account-information-profile-name {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        padding-top: 3px;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    /* End: AccountInformationPanel ***/

    /* Start: AccountActionPanel ***/
    .account-action-heading {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        padding: 0;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
        color: #878787;
        text-transform: uppercase;
    }

    .account-section-divider {
        border-bottom: solid 1px #f0f0f0;
        margin: 16px -16px 24px;
    }

    .account-actions {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-size: 14px;
        padding: 12px 5px 12px 66px;
        cursor: pointer;
        color: #000;
    }

    .account-action-selected, .account-actions:hover {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 500;
        color: #2094ae;
        background-color: rgba(90, 191, 214, 0.1);
    }
    /* End: AccountActionPanel ***/
/* End: AccountPanel **********/


/* Start: AccountDetail **********/
.account-detail-container {
    padding: 24px 32px 0;
}

.account-detail-section {
    padding-bottom: 56px;
}

.field-row-width {
    width: 570px;
}

.account-detail-title-wrapper {
    padding-bottom: 24px;
}

.account-detail-title {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    padding-right: 24px;
}

.account-detail-title-action {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: #2094ae;
    cursor: pointer;
    padding-right: 24px
}

.account-detail-sub-title {
    padding: 12px 0;
    font-size: 14px;
    line-height: 1.4;
}
/* End: AccountDetail **********/

/* Start: Account Address Detail ******/
.account-address-component {
    margin-right: 16px;
    margin-bottom: 24px;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
}

.address-description-container {
    border: solid 1px #e0e0e0;
    border-top: 0;
    position: relative;
}

.account-detail-section .address-description-container:first-child {
    border-top: solid 1px #e0e0e0;
    border-radius: 2px 0;
}

.account-detail-section .address-description-container:last-child {
    border-radius: 0 2px;
}

.address-description-wrapper {
    max-width: 848px;
    overflow: hidden;
    padding: 20px;
}

.address-description-menu-container {
    max-width: 35px;
    float: right;
}

.address-description-menu-wrapper {
    cursor: pointer;
    padding: 0 8px;
}

.address-description-menu-wrapper:hover .address-description-menu-list {
    display: block;
}

.address-description-menu-list {
    z-index: 1;
    white-space: nowrap;
    display: none;
    position: absolute;
    font-size: 14px;
    color: #878787;
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .18);
    right: 23px;
    padding: 5px;
    border-radius: 3px;
    top: 10px;
    background-color: #fff;
}

.address-description-menu-item {
    padding: 7px 12px;
    color: #212121;
}

.address-description-menu-item:hover {
    color: #2094ae;
}

.address-description-heading {
    margin-bottom: 10px;
}

.address-description-heading-type {
    text-transform: uppercase;
    font-size: 11px;
    color: #878787;
    vertical-align: middle;
    padding: 4px 7px;
    border-radius: 2px;
    background-color: #f0f0f0;
    font-weight: 500;
    margin-right: 15px;
}

.address-description-heading-default {
    color: #fff;
    background-color: #2094ae;
    text-transform: uppercase;
    font-size: 11px;
    vertical-align: middle;
    padding: 4px 7px;
    border-radius: 2px;
    font-weight: 500;
    margin-right: 15px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.address-description-title {
    line-height: 1.5;
}

.address-description-title-name {
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.address-description-title-phone {
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin: 0 0 0 15px;
}

.address-description-content {
    margin-top: 10px;
    display: block;
    max-width: 523px;
    line-height: 1.5;
}
/* End: Account Address Detail ******/

/* Start: Wishlist *******/
.wishlist-container {
    background: #fff;
    position: relative;
}

.wishlist-heading {
    padding: 20px 30px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #e0e0e0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
/* End: Wishlist *******/

/* Start: Login **********/
.login-container {
    height: 100%;
}

.login-left-panel {
    background-color: #2094ae;
    color: #fff;
    padding: 40px 35px;
    font-size: 15px;
    height: 100%;
    text-align: left;
    height: 263px;
}

.login-title {
    font-size: 29px;
    font-weight: 500;
}

.login-description {
    font-size: 18px;
    margin-top: 16px;
    line-height: 150%;
}

.login-right-panel {
    padding: 40px 0;
    text-align: center;
}

.or-label-container {
    display: block;
}

.or-label-text {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #2094ae;
    width: fit-content;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    vertical-align: sub;
    color: #2094ae;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 2px, rgba(0, 0, 0, 0.28) 0px 1px 4px;
}

.or-horizontal-line {
    display: inline-block;
    width: 35%;
    margin: 7px;
}

.login-page-container {
    margin: 10px 2%;
}

.login-page-container .login-container {
    margin: 0 auto;
    width: 61%;
    border: 1px solid #2094ae;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 2px, rgba(0, 0, 0, 0.28) 0px 1px 4px;
}
/* End: Login **********/
