.cart-container {
    margin: 10px 2%;
}

.cart-detail-container {
    margin-right: 10px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    overflow: hidden;
}

.cart-heading {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #f0f0f0;
    padding: 16px 31px 0 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 47px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

/* Start: CartItem *****/
.cart-item-container {
    border-top: 0;
    padding: 23px;
    border-bottom: 1px solid #f0f0f0;
}

.cart-product-panel {
    display: flex;
}

.cart-product-image {
    flex: 0 0 120px;
    text-align: center;
    transform: scale(0.9);
    cursor: pointer;
}

.cart-product-details {
    padding: 0 24px 12px 24px;
    vertical-align: top;
    min-height: 112px;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden;
}

.cart-product-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.cart-product-title-link {
    font-size: 16px;
    color: #212121;
    line-height: 1;
    display: inline;
}

.cart-product-color-size {
    margin-top: 5px;
    display: block;
    color: #878787;
    font-size: 12px;
}

.cart-product-style-code {
    margin-top: 11px;
    display: block;
    color: #878787;
    font-size: 12px;
}

.cart-product-price {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 3px;
    margin-top: 10px;
}

.cart-product-price-sp {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    margin-right: 12px;
    line-height: 1;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.cart-product-price-mrp {
    text-decoration: line-through;
    color: #878787;
    display: inline-block;
    margin-right: 8px;
}

.cart-product-price-offer {
    display: inline-block;
    color: #388e3c;
    font-weight: 500;
    margin: 0 5px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.cart-product-sla {
    vertical-align: top;
    -webkit-flex: 0 0 242px;
    -ms-flex: 0 0 242px;
    flex: 0 0 242px;
}

.cart-action-panel {
    display: block;
}

.cart-action {
    width: 120px;
    text-align: center;
    display: inline-block;
}

.cart-action-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #212121;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.cart-action-qty-change-btn {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff, #f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}

.cart-action-qty-change-btn:disabled {
    color: #c2c2c2;
    border-color: #e0e0e0;
    cursor: auto;
}

.cart-action-qty-input {
    display: inline-block;
    padding: 3px 6px;
    width: calc(100% - 60px);
    height: 100%;
    width: 46px;
    height: 28px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 9px;
}

.cart-action-qty-input-field {
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.cart-action-item-remove {
    display: inline-block;
    padding-left: 24px;
}

.cart-action-item-remove-text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 25px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
/* End: CartItem *****/

/* Start: CartButtonPanel****/
.cart-button-panel-container {
    top: 226px;
    left: 19px;
    width: inherit;
}

.cart-button-panel-wrapper {
    padding: 16px 23px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
}

.cart-button-cont-shopping {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    min-width: 250px;
    margin-right: 16px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 2px;
    color: #212121;
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 500;
    transition: box-shadow 0.2s ease;
    vertical-align: super;
    background: #fff;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border: solid 1px #e0e0e0;
}

.cart-button-cont-shopping-arrow {
    height: 11px;
    margin-right: 5px;
    vertical-align: middle;
}

.cart-button-place-order {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    padding: 15px 30px;
    min-width: 250px;
    margin-right: 6px;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 500;
    background: #2094ae;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
}
/* End: CartButtonPanel****/

/* Start: Cart Price Detail Panel ***/
.cart-price-detail-container {
    position: fixed;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    overflow: hidden;
    width: 28%;
    right: 2%;
    z-index: 1;
}

.cart-price-detail-wrapper {

}

.cart-price-detail-heading {
    border-bottom: 1px solid #f0f0f0;
    color: #878787;
    min-height: 47px;
    border-radius: 2px 2px 0 0;
    padding: 16px 31px 0 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.cart-price-detail-summary {
    border-bottom: 1px solid #f0f0f0;
    padding: 0 24px;
    font-size: 15px;
}

.cart-price-detail-total {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px 0;
}

.cart-price-detail-delivery {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px 0;
}

.cart-price-detail-total-pay-wrapper {
    border-top: 1px dashed #e0e0e0;
    margin-bottom: 20px;
}

.cart-price-detail-total {
    margin-bottom: 0;
    font-weight: 500;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.cart-price-detail-contact {
    padding: 20px 24px;
    font-size: 14px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 2px;
}

.cart-price-detail-contact-text {
    color: #388e3c;
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.cart-price-detail-secure {
    margin: 2px 24px 10px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.cart-price-detail-secure-image {
    height: 36px;
    margin-right: 20px;
}

.cart-price-detail-return-policy-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    color: #878787;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
/* End: Cart Price Detail Panel ***/


