.catalog-container {
    margin: 10px 2%;
}

.catalog-filter {
    margin: 5px;
}

.catalog-product-thumbnail {
    display: inline-block;
}

.thumbnail-container {
    margin: 5px 2%;
    padding: 16px;
    position: relative;
    padding-bottom: 3%;
}

.thumbnail-container:hover {
    border-radius: 2px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .3);
}

.product-thumbnail {
    height: 280px;
    width: 200px;
    position: relative;
    display: block;
    margin: auto;
}

.product-thumbnail > img {
    height: 280px;
    width: 200px;
}

.product-thumbnail:hover {
    cursor: pointer;
}

.catalog-wishlist-icon-container {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 36px;
    height: 36px;
    padding: 11px 12px 12px 9px;
    background: #fff;
}

.product-name {
    font-size: 15px;
    padding: 5px 0 8px 0;
    overflow: hidden;
    display: block;
    color: #000;
}

.product-name:hover {
    cursor: pointer;
    color: #2094ae;
}

.product-rating {
    padding-right: 10px;
}

.product-rating-star {
    background-color: #388e3c;
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
}

.product-rating-count {
    padding-left: 8px;
    font-weight: 500;
    color: #878787;
}

.product-price {
    display: block;
    padding: 0 10px 0 0;
    margin: 8px 0;
}

.product-price {
    cursor: pointer;
}

.product-selling-price {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #212121;
}

.product-mrp {
    text-decoration: line-through;
    display: inline-block;
    margin-left: 8px;
    font-size: 14px;
    color: #878787;
}

.product-offer {
    display: inline-block;
    margin-left: 8px;
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -0.2px;
    font-weight: 500;
}