.checkout-container {
    margin: 10px 2%;
}

.checkout-component {
    margin-right: 16px;
    margin-bottom: 16px;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    overflow: hidden;
}

.checkout-component-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.checkout-component-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.checkout-component-heading {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-color: #2094ae;
    height: 48px;
    text-transform: uppercase;
    color: #878787;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 24px;
    border-radius: 2px 2px 0 0;
}

.checkout-component-heading-index {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 500;
    background-color: #fff;
    position: relative;
    top: -2px;
    font-size: 12px;
    color: #2094ae;
    border-radius: 2px;
    padding: 3px 7px;
    vertical-align: baseline;
    margin-right: 17px;
}

.checkout-component-heading-index-span {
    font-size: 12px;
    color: #2094ae;
}

.checkout-component-heading-index-selected {
    background-color: #f0f0f0;
}

.checkout-component-heading-index-plus {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #2094ae;
    font-weight: 500;
    cursor: pointer;
}

.checkout-component-heading-index-plus-img {
    margin-right: 22px;
    margin-left: 3px;
    vertical-align: middle;
}

.checkout-component-heading-text {
    color: #fff;
    background-color: #2094ae;
}

.checkout-component-detail {
    position: relative;
}

.checkout-component-detail-warning-text {
    padding: 0 20px 18px 50px;
    font-size: 14px;
    color: #878787;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 500;
}

/* Start: Checkout Complete Component ******/
.checkout-component-cover {
    padding: 16px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.checkout-component-change-btn {
    padding: 0 32px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    color: #2094ae;
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    margin-left: auto;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.checkout-complete-component-heading-wrapper {
    display: inline-block;
}

.checkout-complete-component-heading {
    color: #878787;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.checkout-complete-component-heading-selected-svg {
    vertical-align: top;
    height: 20px;
    margin-left: 8px;
}

.checkout-complete-component-detail-wrapper {
    font-size: 14px;
    max-width: 630px;
}

.checkout-complete-component-detail-content {
    margin-left: 6px;
}
/* End: Checkout Complete Component ******/

/* Start: Checkout Login Module ********/
.checkout-login-module {
    padding: 26px 20px 18px 50px;
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

    /* Start: Login Action Panel ****/
    .checkout-login-action-panel {

    }

    .checkout-login-action-panel-row {
        margin-bottom: 12px;
    }

    .checkout-login-action-panel-row-title {
        color: #878787;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
    }

    .checkout-login-action-panel-row-detail {
        margin-left: 15px;
        font-weight: 500;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
    }

    .checkout-login-action-panel-row-button {
        height: 48px;
        width: 100%;
        text-transform: uppercase;
        font-size: 16px;
        background: #2094ae;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
        border: none;
        color: #fff;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 500;
    }
    /* End: Login Action Panel *******/

    /* Start: Login Benefit Panel ********/
    .checkout-login-benefit-panel {
        color: #878787;
        padding-left: 100px;
        font-size: 14px;
    }

    .checkout-login-benefit-panel-li {
        margin: 16px 0;
        color: #212121;
        list-style: none;
    }

    .checkout-login-benefit-panel-svg {
        fill: #2094ae;
        color: #2094ae;
        font-size: 17px;
        margin-right: 12px;
        vertical-align: middle;
    }
    /* End: Login Benefit Panel ********/
/* End: Checkout Login Module ********/

/* Start: Checkout Delivery Address Module *********/
.checkout-delivery-address {
    background-color: #fff;
    display: block;
    border-bottom: solid 1px #f0f0f0;
    padding: 16px 24px 8px 24px;
    cursor: pointer;
}

.checkout-delivery-address-selected {
    background-color: #f5faff;
}

.checkout-delivery-address-radio {
    vertical-align: top;
    margin-top: 5px;
}

.checkout-delivery-address-wrapper {
    display: inline-block;
    margin-left: 18px;
    width: calc(100% - 34px);
}

.checkout-delivery-address-container {
    max-width: 848px;
}

.checkout-delivery-address-detail {
    max-width: 523px;
    float: left;
    cursor: pointer;
    width: 100%;
}

.checkout-delivery-address-detail-wrapper {
    line-height: 1.5;
}

.checkout-delivery-address-data {
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.checkout-delivery-address-padding {
    margin: 0 0 0 11px;
}

.checkout-delivery-address-complete {
    margin-top: 10px;
    display: block;
    line-height: 1.5;
}

.checkout-delivery-address-type-wrapper {
    padding-left: 13px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.checkout-delivery-address-type {
    font-size: 12px;
    color: #878787;
    margin-bottom: 10px;
}

.checkout-delivery-address-type-field-row {
    margin-bottom: 16px;
    width: 100%;
}

.checkout-delivery-address-type-field-row label {
    font-size: 13px;
    line-height: 1.5;
}

.checkout-delivery-address-button {
    background: #2094ae;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    color: #fff;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    width: 200px;
    height: 48px;
    margin-top: 12px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-weight: 500;
    transition: box-shadow 0.2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
}

.checkout-delivery-address-edit-wrapper {
    max-width: 325px;
    float: right;
}

.checkout-delivery-address-edit-button {
    font-size: 14px;
    font-weight: 500;
    color: #2874f0;
    border: 0;
    background: none;
    cursor: pointer;
    outline: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
/* End: Checkout Delivery Address Module *********/


/* Start: Checkout Order Summary Module *********/
.checkout-order-summary-action-panel-container {
    height: 80px;
    border-top: 1px solid #f0f0f0;
    padding: 16px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 14px;
    line-height: 3;
}

.checkout-order-summary-action-panel-btn {
    height: 48px;
    width: 260px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    float: right;
    background: #2094ae;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
/* End: Checkout Order Summary Module *********/



/* Start: Add Address ********/
.address-wrapper {
    background-color: #f5faff;
    display: block;
    border-bottom: solid 1px #f0f0f0;
    padding: 16px 24px 8px 24px;
    cursor: pointer;
    width: 100%;
    padding-left: 62px;
}

.address-title {
    color: #2094ae;
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.address-field-container {
    margin-top: 16px;
    width: 570px;
}
/* End: Add Address ********/



/* Start: Payment Option ********/
.checkout-component-payment-method-container {
    padding: 16px 25px;
}

.payment-option-message {
    font-size: 16px;
    display: block;
    font-weight: 700;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.payment-method-continue-button-wrapper {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

.payment-method-continue-button {
    width: 30%;
}
/* End: Payment Option ********/