* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html > body {
	font-size: 80%;
	margin: 0;
	background: #f0f0f0;
	background-size: cover;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: inherit;
    font-weight: inherit;
}

.main-container {
    width: 100%;
    max-width: 100%;
}

.header-wrapper {
    display: block;
    width: 100%;
    z-index: 1000;
    background: rgba(32,148,174,0.9);
    position: fixed;
    background-color: #2094ae;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 3%;
}

.body-wrapper {
    position: absolute;
    margin-top: 82.8px;
    width: 100%;
    max-width: 100%;
}

.container-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.footer-wrapper {
    margin: 10px 2%;
    color: #696e79;
}

.vertical-center {
	vertical-align: middle;
    height: 100%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.margin-left-0 {
	margin-left: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.fade {
	opacity: 0.6;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.text-bold {
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.information-label {
    cursor: default !important;
    font-size: 11px !important;
    vertical-align: text-top;
    font-style: italic;
}

.card {
    padding: 16px;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    overflow: hidden;
}

.empty-card {
    min-height: 273px;
}

.information-container {
    margin: 10px 2%;
}

.information-panel {
	text-transform: uppercase;
	font-size: 1.3em;
	color: #777;
	border-bottom: 8px solid rgba(32,148,174, 0.4);
	font-weight: bold;
}

.information-panel-heading {
    margin-bottom: -0.5em;
    border-bottom: 8px solid rgb(32,148,174);
    color: rgb(32,148,174);
    cursor: default;
    display: inline-block;
    margin-right: 3.5em;
    cursor: pointer;
    line-height: 4em;
}

.information-panel-title {
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    color: #282c3f;
}

.information-panel-description {
    margin-bottom: 1em;
    font-weight: 500;
    color: #696e79;
    word-wrap: break-word;
}

.wishlist-icon {
    position: relative;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.facebook-login-button {
    font-family: Helvetica,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: calc(.27548vw + 12.71074px);
    text-decoration: none;
    text-transform: capitalize;
    transition: background-color .3s,border-color .3s;
    background-color: #4c69ba;
    border: calc(.06887vw + .67769px) solid #4c69ba;
    padding: 10px;
}

.fa {
    padding-right: 6px;
}

.footer-link {
    color: #696e79;
    cursor: pointer;
    text-decoration: none;
}

.footer-link:hover {
    color: #696e79;
    text-decoration: underline;
}

.social {
    height: 32px;
    width: 32px;
    background-image: url('/static/img/social-icon-set.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-color: #fff;
    margin: 0;
    cursor: pointer;
    transform: scale(0.75);
}

.keep-in-touch {
    display: inline-block;
    vertical-align: super;
}

.facebook {
    background-position: 8px;
}

.instagram {
    background-position: -64px 0px;
}

.twitter {
    background-position: -32px 0px;
}


/* Header CSS Start *******************/
.top-link-bar-wrapper {
    top: 0px;
}

.menu-wrapper {
    top: 28px;
    padding: 0;
    padding-bottom: 1em;
}

.pure-menu-link {
    color: #fff;
}

.pure-menu-link:hover, .pure-menu-link:active, .pure-menu-link:focus {
    color: #333;
    background-color: transparent;
    cursor: pointer;
}

.pure-menu-item {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 500;
}

.search-bar {
    box-sizing:border-box;
    height: 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
    width: 100%;
}

.cart-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.cart-button {
    /* Aligning to Center **/
    margin: 0 1em;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    vertical-align: middle;
    height: 100%;

    /* Button Effect **/
    background-color: #348b9f;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 rgba(255, 255, 255, .2);
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: bold;
    color: #fff;
}

.cart-button a {
    color: #fff;
}

.cart-item-count {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 22px;
    padding: 3px 6px;
    margin-left: 8px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    line-height: 15px;
}

.cart-button:hover {
    cursor: pointer;
}

.user-profile-item {
    padding-right: 13px;
}

.user-profile-item:hover,
.user-profile-item:hover .user-profile {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.user-profile-item:hover .user-profile::after {
    border-top: 4px solid #333;
}

.user-profile-item:hover .user-profile-menu {
    display: inline-block;
}

.user-profile::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    position: absolute;
    right: 13px;
    top: 3px;
    bottom: 0;
    margin: auto;
}

.pure-menu-list .user-profile-menu {
    display: none;
}

.user-profile-menu {
    position: absolute;
    background-color: #fff;
    color: #333;
    right: 0;
    box-shadow: 0 4px 8px -3px #555454;
    white-space: nowrap;
}

.user-profile-menu-item {
    list-style: none;
    border-bottom: 1px solid #E9E9E9;
}

.user-profile-menu-item:hover {
    background-color: #E9E9E9;
    color: #
}

.user-profile-menu-link {
    text-transform: none;
    padding-top: 5px;
    color: #333;
    display: block;
    padding: 5px 11px 0 11px;
    line-height: 23px;
    text-align: left;
    font-size: 12px;
}
/* Header CSS End *********************/

/* Form Element CSS Start *************/
.field-row-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.field-row {
    width: 280px;
    position: relative;
    margin-bottom: 10px;
}

.field-input-text {
    width: 100%;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    outline: none;
    border-radius: 2px;
    padding: 20px 16px 0 13px;
    box-shadow: none;
    height: 50px;
}

.field-label {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    font-size: 14px;
    color: #878787;
    pointer-events: none;
    width: 100%;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform: translateY(-15%) scale(0.815);
    transform: translateY(-15%) scale(0.815);
    padding: 18px 0 0 15px;
}

.error-label {
    margin: 0 0 0 12px;
    font-size: 12px;
    color: #ff6161;
    pointer-events: none;
    width: 100%;
    display: inline-block;
}

.field-row-text-area {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.field-input-text-area {
    resize: vertical;
    padding-top: 25px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    outline: none;
    border-radius: 2px;
    padding: 20px 16px 0 13px;
    box-shadow: none;
    resize: vertical;
    padding-top: 25px;
}

.field-input-text:disabled {
    background-color: #fafafa;
    cursor: not-allowed;
    color: #878787;
}

.field-button-wrapper {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
}

.field-button-style {
    display: inline-block;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    transition: box-shadow 0.2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
}

.btn-save-style {
    font-size: 14px;
    text-transform: uppercase;
    height: 48px;
    width: 230px;
    background: #2094ae;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
}

.btn-cancel {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2094ae;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-left: 20px;
    padding-right: 0;
}

/* Start: Checkbox ***/
.input-radio-label {
    cursor: pointer;
    font-size: 16px;
    border-bottom: none;
    display: inline-block;
    margin-right: 32px;
}

.input-radio-disable {
    color: #878787 !important;
    cursor: not-allowed;
}

.input-radio {
    visibility: hidden;
    position: absolute;
}

.input-radio:checked ~ .radio-checked {
    border-color: #2094ae;
}

.label-checked .radio-checked {
    border-color: #000;
}

.input-radio-disable > .radio-checked {
    border-color: #c2c2c2 !important;
    cursor: not-allowed;
}

.input-radio-label .radio-checked {
    margin-top: 2px;
    margin-left: 0;
}

.radio-checked {
    display: inline-block;
    border: 2px solid #979797;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    position: relative;
    vertical-align: top;
    margin-top: 3px;
    cursor: pointer;
}

.input-radio:checked ~ .radio-checked::before {
    border: 2px hidden;
    background-color: #2094ae;
}

.label-checked .radio-checked::before {
    background-color: #c2c2c2 !important;
}

.radio-checked::before {
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    margin: auto;
    position: absolute;
    top: 2px;
    left: 2px;
}

.input-radio-text {
    display: inline-block;
    margin-left: 18px;
    width: calc(100% - 34px);
}
/* End: Checkbox ***/
/* Form Element CSS End ***************/
.page-not-found-img {
    text-align: right;
}

.page-not-found-error-wrapper {
    float: left;
    position: relative;
}

.page-not-found {
    display: table-cell;
    height: 307px;
    width: inherit;
    vertical-align: middle;
    padding: 0 40px;
}

.page-not-found h1 {
    font-size: 200%;
    color: #4b4b4b;
}

.page-not-found p {
    font-size: 17px;
    padding-bottom: 5px;
    color: #4b4b4b;
}

.page-not-found-btn {
    float: left !important;
    width: 40% !important;
    margin-top: 15px;
}
