.order-detail-container {
    margin: 10px 2%;
}

.order-container {
    margin-bottom: 16px;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    overflow: hidden;
    font-size: 14px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
}

.order-detail-wrapper {
    padding: 0 24px;
}

.order-detail-heading {
    color: #878787;
    text-transform: uppercase;
    padding-top: 24px;
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
}

.center-right-module {
    padding-left: 24px;
    border-left: 1px solid #f0f0f0;
}

.order-detail-content {
    padding: 24px;
    min-height: 160px;
}

.order-detail-content-left-module {
    padding-left: 0px;
}

.content-row {
    margin-bottom: 10px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.content-row-title {
    vertical-align: middle;
}

.content-row-title-data {
    color: #878787;
}

.content-row-desc {
    padding-left: 10px;
}

.content-row-order-item-count {
    font-size: 12px;
    padding-left: 5px;
}

.padding-top {
    padding-top: 10px;
}

.padding-left {
    padding-left: 10px;
}

.padding-left-30 {
    padding-left: 30px;
}

.manage-order-desc {
    min-width: 161px;
    display: inline-block;
    position: relative;
}

.manage-order-wrapper {
    padding-bottom: 10px;
    font-weight: 500;
    margin-left: -10px;
    width: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.manage-order-icon {
    height: 23px;
    width: 18px;
    margin: 0 13px;
    cursor: pointer;
}

.manage-order-text {
    text-transform: uppercase;
    cursor: pointer;
    line-height: 24px;
    width: auto;
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
    color: #2094ae;
}

/* Start: Order Track Panel *******/
.track-button-panel {
    background-color: #f9f9f9;
    border-bottom: solid 1px #e6e6e6;
    padding: 12px 24px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.button-container {
    display: inline-block;
    text-align: left;
}

.order-label-button {
    background: #2094ae;
    color: #fff;
    box-shadow: none;
    border: 1px solid #2094ae;
    padding: 8px 12px;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    width: 196px;
}

.track-button-container {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    background: #f9f9f9;
    border: 1px solid #d7d7d7;
}

.track-button-wrapper {
    white-space: nowrap;
    padding: 6px 0;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #212121;
}

.track-svg {
    vertical-align: middle;
    margin-right: 6px;
    margin-bottom: 4px;
    fill: #2094ae;
}
/* End: Order Track Panel *******/


/* Start: Order Cart Item Panel *******/
.order-cart-item-wrapper {
    width: 100%;
    font-size: 14px;
    border-bottom: solid 1px #f0f0f0;
}

.order-cart-item-container {
    padding: 10px 15px 0 15px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.column-1-img-wrapper {
    text-align: center;
    max-width: 120px;
}

.column-1-img-container {
    position: relative;
    margin: 0 auto;
    height: 75px;
    width: 75px;
}

.column-1-data-data-wrapper {
    padding-left: 16px;
}

.column-1-data-title {
    border-radius: 2px;
    transition: box-shadow 0.2s ease;
    vertical-align: super;
    background: #fff;
    outline: none;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    cursor: pointer;
    box-shadow: none;
    padding: 0;
    border: none;
    font-size: 14px;
    color: #212121;
    margin-bottom: 10px;
    font-weight: 500;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.column-1-data-wrapper {
    color: #878787;
    font-size: 12px;
    margin-bottom: 5px;
}

.column-1-data-label {
    margin: 0 3px 0 0;
    color: #878787;
    font-size: 12px;
}

.column-1-data-value {
    color: #878787;
}

.column-2 {
    color: #212121;
    text-transform: uppercase;
}

.column-2-wrapper {
    color: #878787;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-right: 8px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.column-2-title {
    color: #388e3c;
    font-weight: 500;
    font-size: 12px;
    padding-right: 2px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.column-3 {
    color: #212121;
}

.column-3-title {
    margin-top: 10px;
    font-size: 12px;
    color: #878787;
}

.order-cart-item-panel {
    overflow: hidden;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.total-price-panel {
    margin: 12px 24px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.order-label {
    color: #878787;
    padding-right: 2px;
}

.color-green {
    color: #388e3c;
}

.font-size-16 {
    font-size: 16px;
}
/* End: Order Cart Item Panel *******/
