.product-container {
    margin: 10px 2%;
}

.product-image {
    min-height: 400px;
}

.product-image-panel {
    position: sticky;
    top: 83px;
}

.product-image-container {
    margin-right: 10px;
}

.product-button-container {
    margin-left: 57.75px;
    margin-top: 10px;
}

.product-wishlist-icon-container {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 28px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    padding: 11px 12px 12px 9px;
    background: #fff;
}

.product-cart-icon {
    margin-right: 4px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.add-to-cart-button, .add-to-cart-button-disabled {
    background: #5abfd6;
    padding: 17px 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border-radius: 2px;
    border: none;
    width: 98%;
    float: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.add-to-cart-button:hover, .buy-now-button:hover {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .3);
}

.add-to-cart-button-disabled {
    background: rgba(90, 191, 214, 0.3);
}

.buy-now-button {
    background: #2094ae;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border-radius: 2px;
    border: none;
    color: #fff;
    padding: 18px 8px;
    float: right;
    width: 98%;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.image-thumbnail {
    border: 1px solid #f0f0f0;
    cursor: pointer;
    border-right: none;
    min-height: 60px;
}

.image-thumbnail:hover {
    border: 2px solid #2094ae;
    border-right: 2px solid #2094ae;
}

.product-image {
    border: 1px solid #f0f0f0;
}

.product-description-name {
    padding: 0;
    line-height: 1.4;
    font-size: 25px;
    font-weight: inherit;
    display: inline-block;
}

.product-description-rating {
    margin-top: 6px
}

.product-description-rating-value {
    background-color: #388e3c;
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
}

.product-description-rating-count {
    padding-left: 8px;
    font-weight: 500;
    color: #878787;
}

.product-description-price {
    margin-top: 6px;
}

.product-description-price-selling-price {
    font-size: 28px;
    vertical-align: sub;
    display: inline-block;
    font-weight: bold;
    color: #212121;
}

.product-description-price-mrp {
    font-size: 16px;
    margin-left: 12px;
    vertical-align: middle;
    color: #878787;
    text-decoration: line-through;
    display: inline-block;
}

.product-description-price-offer {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #388e3c;
    vertical-align: middle;
    display: inline-block;
    letter-spacing: -0.2px;
}

.product-description-information {
    font-size: 14px;
    margin-top: 2em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.product-description-title {
    font-weight: bold;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    padding-right: 10px;
    color: #878787;
}

.product-description-value {
    display: inline-block;
}

.product-description-value > ul {
    margin: 0 0 5px 25px;
}

.product-size-wrapper {
    margin-top: 2em;
}

.select-size {
    text-transform: uppercase;
    font-weight: 500;
}

.size-wrapper {
    margin-bottom: 1em;
}

.size-chart-link {
    font-size: 14px;
    color: #526cd0;
    cursor: pointer;
    margin-right: 0.2em;
}

.size-chart-image {
    padding: 10px
}

.size {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #282c3f;
    padding: 0;
    min-width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #282c3f;
    line-height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font-weight: 500;
}

.size:hover, .size-selected {
    background-color: #2094ae;
    color: #fff;
    font-weight: 500;
    border: 1px solid #2094ae;
}
