* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html > body {
	margin: 0;
	background: #f0f0f0;
	background-size: cover;
	font-size: 80%;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: inherit;
    font-weight: inherit;
}

.main-container {
    width: 100%;
    max-width: 100%;
}

.header-wrapper {
    display: block;
    width: 100%;
    z-index: 1000;
    background: rgba(32,148,174,0.9);
    position: fixed;
    background-color: #2094ae;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 3%;
}

.body-wrapper {
    position: absolute;
    margin-top: 82.8px;
    width: 100%;
    max-width: 100%;
}

.container-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.footer-wrapper {
    margin: 10px 2%;
    color: #696e79;
}

.vertical-center {
	vertical-align: middle;
    height: 100%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.margin-left-0 {
	margin-left: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.fade {
	opacity: 0.6;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.text-bold {
    font-weight: 500;
}
